@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 12.5rem;
    margin-left: 5rem;
}

.main-content-flex-container {
    display: flex;
    gap: 3.125rem;
    justify-content: center;
    transform: translateY(45px);
}

.intro-text-container {
    max-width: 32.5rem;
    margin-top: 2.5rem;
    color: white;
}

.intro-text-container h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.intro-text-container p {
    font-size: 1.125rem;
    margin-top: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.intro-text-container button {
    background-color: white;
    border: none;
    border-radius: 1.875rem;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.125rem;
    margin-top: 1.875rem;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 .3125rem 1.25rem -0.3125rem black;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.intro-text-container button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}


.icons {
    width: 95%;
    text-align: right;
}

.icons i {
    font-size: 1.25rem;
    margin-right: .625rem;
    cursor: pointer;
    color: white;
    border: .125rem solid white;
    padding: 1.25rem;
    border-radius: 50%;
    position: relative;
    transition: all 200ms ease-in-out;
}

i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}


@media (max-width: 62.5em) {

    body {
        margin: 1.5625em;
        background-image: url('images/bg-mobile.svg');
    }

    .main-content-flex-container {
        flex-direction: column;
        align-items: center;
        transform: initial;
    }

    main {
        align-items: center;
    }

    .main-content-flex-container img {
        height: 15.625em;
        max-width: 100%;
    }

    .logo {
        width: 8.75em;
        margin-left: initial;
        align-self: flex-start;
    }

    .intro-text-container {
        text-align: center;
        margin: initial;
    }

    .icons {
        text-align: center;
        transform: scale(0.8);
    }

    .intro-text-container h1 {
        font-size: 1.5625em;
    }

    main h1 {
        margin: initial;
    }

    button {
        padding-left: 4.375em;
        padding-right: 4.375em;
        padding-top: .625em;
        padding-bottom: .625em;
    }
}